[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pre-commit = "*"
coverage = "*"
flake8-django = "*"
ipython = "*"
ptvsd = "*"
isort= "*"
seed-isort-config = "*"
ipdb = "*"
inflection = "*"

[packages]
dj-database-url = "==0.5.*"
django = ">=2.2.4"
django-cors-headers = "==3.0.*"
django-rest-swagger = "==2.2.*"
djangorestframework = "==3.9.*"
djangorestframework-jwt = "*"
djangorestframework-camel-case = "*"
django_heroku = "==0.3.*"
gunicorn = "==19.9.*"
psycopg2-binary = "==2.8.*"
python-dateutil = "==2.8.*"
python-dotenv = "==0.10.*"
redis = "==3.2.*"
requests = "==2.22.*"
markdown = "*"
doubles = "*"
sentry-sdk = "==0.12.2"
factory-boy = "*"
faker = "*"
python-jose = "==3.0"
celery = "*"
django-celery-beat = ">=1.*"
django-celery-results = ">=1.1.*"
drf-yasg = "*"
flower = ">=0.9.*"
elastic-apm = "*"
watchdog = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.7"
